.main {
  font-family: 'Segoe UI Regular';
  background: #ebe8e8;

  &-container {
    padding-right: 70px;
  }
}

.ant-layout {
  background-color: transparent;
}

.menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  border-left: 3px solid #1890ff;
  border-right: none;
}

@media (max-width: 700px) {
  .main {
    &-container {
      padding-right: 42px;
    }
  }
}
