.main {
  font-family: "Segoe UI Regular";
}

.navbar {
  background: #fff;
  padding: 15px 0;
  padding-right: 70px;
  padding-left: 42px;
  display: flex;
  align-items: center;
}
.navbar-logo {
  font-weight: 900;
  font-size: 2.4rem;
  color: #1875f0;
}
.navbar-collapse {
  display: flex;
  align-items: center;
  padding-left: 50px;
  font-family: "Segoe UI Regular";
}
.navbar-search-form {
  width: 130px;
}
.navbar-search-form form {
  display: flex;
  align-items: center;
}
.navbar-search-form form i {
  color: #979797;
  width: 30%;
  font-size: 1.5rem;
}
.navbar-search-form form input {
  width: 70%;
  border: none;
  padding: 5px;
  font-size: 1.2rem;
  color: #979797;
}
.navbar-link {
  width: calc(100% - 310px);
  padding-right: 50px;
  text-align: right;
}
.navbar-link a {
  display: inline-block;
  color: #647787;
  font-size: 1.4rem;
  width: 60px;
}
.navbar-link a[href="#bell"] {
  position: relative;
}
.navbar-link a[href="#bell"] span {
  position: absolute;
  top: -5px;
  right: -5px;
  display: inline-block;
  background: #1875f0;
  color: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.navbar-user {
  display: flex;
  align-items: center;
  width: 180px;
  color: #647787;
}
.navbar-user span {
  display: inline-block;
  padding: 0 10px;
  text-align: right;
  width: 100%;
}
.navbar-user img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 36px;
  height: 36px;
  object-fit: contain;
}

@media (max-width: 991px) {
  .navbar-collapse {
    display: block;
    padding-left: 0;
  }
  .navbar-search-form {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .navbar-search-form form i {
    width: 30px;
  }
  .navbar-link {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: left;
    width: 100%;
  }
  .navbar-link a {
    width: 100%;
    margin: 5px 0;
  }
  .navbar-link a[href="#bell"] {
    width: 15px;
  }
  .navbar-user {
    width: 150px;
  }
  .navbar-user span {
    padding: 0;
  }
  .navbar-user span:first-child {
    padding-right: 15px;
  }
  .navbar-user span:last-child {
    text-align: left;
  }
}
@media (max-width: 320px) {
  .navbar-logo {
    font-size: 1.8rem;
  }
}
.ant-layout-sider {
  background: #fff;
  padding-top: 60px;
  margin-top: 8px;
}
.ant-layout-sider ul {
  font-family: "Segoe UI Regular";
  margin: 0;
  padding: 0;
  margin-top: 14px;
  list-style: none;
}
.ant-layout-sider ul li {
  color: #647787;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 31px;
  cursor: pointer;
}
.ant-layout-sider ul li:hover {
  opacity: 0.7;
}
.ant-layout-sider ul li.active {
  background: #e5e5e5;
  border-left: 4px solid #1875f0;
}
.ant-layout-sider ul li img {
  margin-right: 14.5px;
}
.ant-layout-sider h5 {
  font-family: "Segoe UI Regular";
  color: #647787;
  padding-left: 31px;
}
.ant-layout-sider-invoice {
  width: 163px;
  height: 33px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 700;
}
.ant-layout-sider-main {
  margin-top: 14px;
}
.ant-layout-sider-payments, .ant-layout-sider-orders {
  margin-top: 30px;
}

.ant-layout-header {
  background: transparent;
}
.ant-layout-header svg {
  width: 40px;
  height: 40px;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 225px));
  gap: 10px;
}
.stats-card {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #eef8fd;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 18px;
}
.stats-card div {
  width: 70%;
}
.stats-card div h6 {
  font-size: 1.2rem;
  color: #787c90;
}
.stats-card div h5 {
  font-size: 1.8rem;
  color: #000;
}
.stats-card img {
  width: 30%;
}

@media (max-width: 750px) {
  .stats {
    grid-template-columns: 300px;
  }
}
@media (max-width: 460px) {
  .stats {
    grid-template-columns: 1fr;
  }
}
.payments h2 {
  font-size: 3.6rem;
}
.payments h4 {
  font-size: 1.3rem;
  font-weight: bold;
}
.payments-header {
  display: flex;
  align-items: center;
}
.payments-header-showing {
  display: flex;
  align-items: center;
  width: 273px;
}
.payments-header-showing h4:first-child {
  width: 30%;
}
.payments-header-showing h4:last-child {
  width: 50%;
}
.payments-header-showing .form-group {
  width: 20%;
  padding: 0;
  margin: 0;
}
.payments-header-showing .form-group select {
  border: none;
  color: #1875f0;
  font-size: 1.3rem;
}
.payments-header-searchForm {
  width: 300px;
}
.payments-header-searchForm form {
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #787878;
  margin-left: 20px;
}
.payments-header-searchForm form i {
  color: #979797;
  font-size: 1.5rem;
  width: 25px;
}
.payments-header-searchForm form input {
  width: calc(100% - 25px);
  border: none;
  background: transparent;
  padding: 5px;
  font-size: 1.1rem;
}
.payments-header-searchForm form input:focus {
  outline: none;
  border-bottom: 0.2px solid #787878;
}
.payments-header-status {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% - 593px);
}
.payments-header-status .form-group {
  padding: 0;
  margin: 0;
}
.payments-header-status .form-group select {
  color: #000;
  font-size: 1.3rem;
}

@media (max-width: 1130px) {
  .payments-header {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .payments-header-searchForm {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .payments-header-searchForm form {
    margin-left: 0;
  }
  .payments-header-status {
    width: 200px;
    justify-content: flex-start;
  }
}
@media (max-width: 460px) {
  .payments-header-showing {
    width: 90%;
  }
  .payments-header-showing .form-group {
    width: 55px;
  }
  .payments-header-searchForm {
    width: 90%;
  }
  .payments-header-status {
    width: 90%;
  }
}
.table thead {
  background: #eaeef0 !important;
}
.table thead th {
  color: #717f91;
  font-size: 1.4rem;
}
.table td {
  font-size: 1.4rem;
}
.table tbody {
  color: #414042;
}
.table tbody h6 {
  color: #414042;
  font-size: 1.4rem;
}
.table tbody h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background: #7f8fa4;
  width: 36px;
  height: 36px;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.table-entries {
  position: relative;
  top: -40px;
}
.table-entries h5 {
  font-size: 1.3rem;
}
.table .status-btn {
  background: transparent;
  width: 125px;
  height: 33px;
  font-size: 1.3rem;
  border: 1px solid #cccfd4;
  box-sizing: border-box;
  border-radius: 30px;
}
.table .status-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 8px;
}
.table .pending-dot {
  background: #ebc315;
}
.table .pending-btn {
  color: #ebc315;
}
.table .reconcilled-dot {
  background: #27ae60;
}
.table .reconcilled-btn {
  color: #27ae60;
}
.table .default-dot {
  background: #c4c4c4;
}
.table .default-btn {
  color: #999898;
}

.ant-pagination-prev,
.ant-pagination-next {
  border: 1px solid #ced0da;
  border-radius: 2px;
}

.ant-pagination-prev {
  margin: 0;
  padding: 0;
}

.ant-pagination-item {
  margin: 0;
  padding: 0;
}

.ant-pagination-item-active {
  background: #1875f0;
  color: white;
}

@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"), url("../fonts/Segoe UI.woff") format("woff");
}
@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"), url("../fonts/Segoe UI Bold.woff") format("woff");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*# sourceMappingURL=style.css.map */
