.chart {
  .ant-col {
    &:first-child {
      margin-bottom: 10px;
    }
  }

  .ant-row {
    margin: 0 !important;
  }

  &-header {
    display: flex;
    align-items: center;
    background: white;
    padding: 20px 5px;
    width: 100%;

    &-date {
      width: 180px;

      h5 {
        font-size: 1.6rem;
        font-weight: bold;
        margin: 0;
        padding: 0;
      }
    }

    &-year {
      width: calc(100% - 270px);
      text-align: right;

      .ant-picker {
        width: 138px;
        border: 1px solid #dde0e3;
        border-radius: 4.25px;

        &-suffix {
          display: none;
        }
      }
    }

    &-buttons {
      width: 90px;
      text-align: center;

      .btn {
        width: 25px;
        background: #cccfd4;
        padding: 2px 5px;

        &:first-child {
          margin-right: 5px;
        }

        i {
          font-size: 1.7rem;
          color: #939599;
        }
      }
    }
  }
}

.second-row {
  height: 100%;
  .ant-col {
    background-color: $white;

    h5 {
      font-size: 1.4rem;
      font-weight: bold;
    }

    ul {
      list-style: none;
      margin: 0;

      li {
        font-size: 1.4rem;
        padding: 6px 0;

        span {
          font-weight: bold;
          margin-left: 2px;
        }

        .blue {
          color: $blue;
        }
        .yellow {
          color: #fdc203;
        }

        .green {
          color: $green;
        }
      }
    }
  }
}

.line-chart {
  background: white;
}

@media (max-width: 1200px) {
  .chart {
    &-header {
      align-items: flex-start;
      flex-direction: column;

      &-date {
        width: 100%;
      }

      &-year {
        text-align: left;
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
      }

      &-buttons {
        text-align: left;
        width: 100%;
      }
    }
  }
}
